@media (max-width: 768px) {
    /* * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    } */
    /* body{
        width: 776px;
        border: 1px solid blue;
    } */
    /* -------WRAPPER 1--------- */
    .wrapper1{
        margin: 10px 3%;
    }

    /* -----------SECTION 1--------- */
    .gif_div img{
        width: 171px;  
    }
    .carousel-inner{
        width: 539px;
    }
    .carousel-item{
        width: 539px;
    }
    .carousel_div img{
        width: 539px;
    }
    .sec1{
        display: flex;
        width: 100%;
        margin: auto;
        justify-content: space-between;
        /* border: 1px solid red; */
    
    }

    /* -------------SECTION 2-----SHOP BY ROOM------------ */

    .sbr-title h2{
        font-weight: 700;
        font-size: 24px;
    }
    .sbr-card img{
        width: 172px;
    }
    .sbr-card p{
        font-size: 14px;
    }

    /* <!-- -----------------SECTION 3---WHAT'S EVERYONE EYEING---------- --> */

    .wee-title h2{
        font-size: 24px;
    }
    .wee-left-card img{
        width: 232.63px;
        height: 250.61px;
        padding: 0px 6px;
    }
    .wee-right-card img{
        width: 100%;
        height: 119.17px;
    }
    .wee-right-card{
        width: 122.31px;
        height: 250.16px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0px 6px;
    }

    /* -----------SECTION 4-----YOUR POCKET FRIENDLY SHOPPE----------- */
    .ypfs-title h2{
        font-size: 24px;
    }
    .ypfs-card{
        padding: 0 6px;
        height: 242.7px;
    }
    .ypfs-card img{
        width: 172px;
    }
    .ypfs-card p:nth-child(1){
        font-size: 14px;
    }
    .ypfs-card p:nth-child(2){
        font-size: 12px;
    }

    /* <!-- -----------SECTION 5-----WE HAVE GOT YOUR STYLES----------- --> */

    .wgys-left{
        width: 183.47px;
        padding: 0 6px;
    }
    .wgys-left h2{
        margin-bottom: 8px;
        font-size: 24px;
    }
    .wgys-left p:nth-child(2){
        font-size: 12px;
        margin-bottom: 8px;
    }
    .wgys-left p:nth-child(3){
        font-size: 12px;
    }
    .wgys-cards p:nth-child(1){
        font-size: 14px;
        margin-top: 8px;
    }
    .wgys-cards p:nth-child(2){
        font-size: 12px;
    }
    .wgys-right{
        width: 540px;
        display: flex;
        padding: 0 6px;
        /* justify-content: space-between; */
    }
    .wgys-cards img{
        width: 168px;
    }

    /* <!-- -----------WRAPPER 2----------- --> */
    .wrapper2{
        margin: 10px 3%;
    }

    /* --------------SECTION 6----READY FOR THE NEW------------ */

    .rftn-title h2{
        font-size: 24px;
    }
    .rftn-cards img{
        width: 233px;
        /* height: 397.86px; */
    }
    .rftn-cards p:nth-child(1){
        font-size: 14px;
    }
    .rftn-cards p:nth-child(2){
        font-size: 12px;
    }

    /* <!-- --------------SECTION 7--------HOME DECOR YOU CAN'T IGNORE-------------- --> */

    .hdyci-title h2{
        font-size: 24px;
    }
    .hdyci-cards img{
        width: 172px;
        /* height: 397.86px; */
    }
    .hdyci-cards p:nth-child(1){
        font-size: 14px;
    }
    .hdyci-cards p:nth-child(2){
        font-size: 12px;
    }

    /* <!-- ----------------SECTION 8--------TOP BRANDS TO CHOOSE FROM------------ --> */

    .tbtcf-title h2{
        font-size: 24px;
    }
    .tbtcf-cards img{
        width: 110.31px;
    }
    .tbtcf-cards2 img{
        width: 354.94px;
    }

    /* <!-- -----------------SECTION 9-----MORE FROM THE STORE----------------- --> */
    .sec9{
        background: #f6f6f4 url(https://ii1.pepperfry.com/images/hp_more_from_store_bg.jpg) no-repeat ;
        background-size: contain;
        padding: 20px 0 21px 0;
        margin: 21px 0;
        width: 100%;
    }
    .mfts-title{
        font-size: 32px;
        margin: 0 3%;
    }
    .mfts-bottom{
        margin: 0 3%;
    }
    .mfts-row{
        padding: 10px 0 0 0;
        margin-right: 2rem;
    }
    .mfts-row-title{
        font-size: 12px;
    }
    .mfts-row-items{
        font-size: 10px;
    }

    /* <!-- -----------WRAPPER 3----------- --> */
    .wrapper3{
        margin: 10px 3%;
    }
    /* <!-- ------------SECTION 10----HAPPY CUSTOMER HAPPY US-------------- --> */
    .hchu-title h2{
        font-size: 24px;
    }
    .hchu-cards img{
        width: 232.63px;
    }
    .hchu-cards p{
        font-size: 12px;
    }

    /* <!-- ------------SECTION 11----NEED HELP BUYING-------------- --> */
    .nhb-title h2{
        font-size: 24px;
    }
    .nhb-cards img{
        width: 110.31px;
    }
    .nhb-cards p{
        font-size: 12px;
    }
}