* {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  /* color: #121212; */
  /* background: #fff; */
}
/* html {
  font-family: Manrope, sans-serif;
  font-size: 16px;
  letter-spacing: 0;
  text-size-adjust: 100%;
} */
a {
  text-decoration: none;
  color: inherit;
}

/* ----------------Movable Button----------------t */
#top_btn {
  position: fixed;
  right: 16px;
  bottom: 65px;
  z-index: 99;
  display: none;
  background: #fff url("	https://ii1.pepperfry.com/images/svg/w21-back-to-top-icon.svg") no-repeat
    center;
  background-size: 40px;
  width: 40px;
  height: 40px;
}

.nav_container {
  width: 88%;
  margin: auto;
  margin-top: 15px;
  /* border: 2px solid red; */
}

/* ----------------Navbar----------------t */

.nav_container > div {
  display: flex;
  gap: 10px;
  padding: 0 6px 2px;
  align-items: center;
}
/* ----------------Navbar Logo Part----------------t */
.nav_logo {
  width: 150px;
  display: flex;
}
#nav_logo_link {
  display: block;
  width: 150px;
  height: 38px;
  background: url("https://ii1.pepperfry.com/images/svg/pf-logo-21.svg") no-repeat center;
  background-size: contain;
}

/* ----------------Navbar Heading---------------- */

.nav_menu {
  display: flex;
  padding-left: 10px;
}
.nav_menu > div > a {
  text-decoration: none;
}
.nav_menu_link {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 0.908rem;
  letter-spacing: 0.5px;
  color: #848484 !important;
  margin-right: 20px;
  display: block;
  position: relative;
  transition: all 0.3s ease-in-out;
}
.nav_menu_link:hover {
  color: #000;
  font-weight: 600;
  border-bottom: 1px solid #ff7035;
  padding-bottom: 0px;
}

/* ----------------Navbar Search Bar---------------- */

.search_input {
  background-color: #f5f5f5;
  border: 0;
  padding: 12px 34px 12px 12px;
  font-size: 0.875rem;
  width: 100%;
  border-radius: 2px;
  /* border: 1px solid red; */
}
.nav_search {
  flex: 1;
  /* padding-right: 40px; */
}
.search_wrap {
  position: relative;
  display: flex;
}
.search_button {
  border: 0;
  background: url("https://ii1.pepperfry.com/images/svg/icon-search-21.svg") no-repeat;
  position: absolute;
  top: 0;
  right: 10px;
  bottom: 0;
  margin: auto;
  width: 18px;
  height: 18px;
  background-size: 18px;
}

/* ----------------Navbar Pincode Part---------------- */

.nav_pincode {
  width: 165px;
  margin-left: -25px;
  padding-left: 35px;
  margin-right: 0px;
}
.pincode_input {
  line-height: 11px;
}
.pincode_input_text {
  font-size: 0.875rem;
  display: inline-block;
  padding: 3px 16px 3px 0;
  background: url("https://ii1.pepperfry.com/images/svg/icon-edit-21.svg") no-repeat right center;
  background-size: 12px;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
}
.pincode_result {
  font-size: 0.75rem;
  color: #ff7035;
  width: 100%;
  margin-top: 0px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* ----------------Navbar Wish And Cart Part---------------- */

.nav_wish_link {
  background: url("https://ii1.pepperfry.com/images/svg/icon-wishlist-21.svg") no-repeat center;
  background-size: 30px;
}

.nav_cart_link {
  background: url("	https://ii1.pepperfry.com/images/svg/icon-cart-21.svg") no-repeat center;
  background-size: 30px;
}
.wishcart_link {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 12px;
  position: relative;
  left: 20px;
}

/* ----------------Navbar Profile Part---------------- */

.profile_link {
  background: url("https://ii1.pepperfry.com/images/svg/icon-profile-21.svg") no-repeat center;
  background-size: 30px;
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 12px;
  position: relative;
  left: 10px;
}

/* ------------------ Navbar Lower Part ---------------- */
.main_navigation_menu {
  display: flex;
  /* margin-top: 12px; */
  position: relative;
  width: 100%;
  /* position: relative; */
  left: -15px;
}
.main_navigation_menu > a {
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  color: #121212;
  /* margin: auto; */
  font-size: 0.875rem;
  font-weight: 400;
  height: 19px;
  text-decoration: none;
  align-self: center;
}
.main_navigation_menu > ul {
  display: flex;
  margin-bottom: 0;
  justify-content: flex-start;
  gap: 1px;
  padding-left: 12px;
}
.main_navigation_menu > ul > li {
  display: inline-block;
  margin-right: 24px;
  list-style: none;
}
.main_navigation_menu ul li a {
  font-size: 0.875rem;
  font-weight: 500;
  padding-top: 8px;
  box-sizing: border-box;
  display: block;
  position: relative;
  text-align: left;
  align-items: center;
  
  text-decoration: none;
  color: #121212;
  margin-bottom: 0;
}
.main_menu_item:hover {
  border-bottom: 2px solid #ff7035;
}

/* ---------------------------------------------------------------------- */

.inside_menu {
  display: flex;
  flex-direction: row;
}
#inside_menu {
  padding: 5px;
  background-color: #fff;
  align-content: center;
}
#inside_menu ul li:hover {
  background-color: #ebecee;
}
.add_on_list {
  list-style: none;
}

.add_on1 {
  position: absolute;
  opacity: 100;
  z-index: 1000;
  top: 32px;
  background-color: #f3f5f7;
  left: 0%;
  flex-direction: row;

}
.add_on2 {
  position: absolute;
  z-index: 1000;
  top: 32px;
  /* border: 1px solid #848484; */
  background-color: #f3f5f7;
  left: 0%;
  flex-direction: row;
}
.add_on3 {
  position: absolute;
  /* border: 1px solid #848484; */
  z-index: 1000;
  top: 32px;
  background: fixed;
  background-color: #f3f5f7;
  left: 0%;
  flex-direction: row;
}
.add_on4 {
  z-index: 1000;
  position: absolute;
  /* border: 1px solid #848484; */
  top: 32px;
  background-color: #f3f5f7;
  left: 0%;
  flex-direction: row;
}
.add_on5 {
  position: absolute;
  /* border: 1px solid #848484; */
  top: 32px;
  background-color: #f3f5f7;
  left: 0%;
  flex-direction: row;
  z-index: 1000;
}
.add_on6 {
  position: absolute;
  top: 32px;
  background-color: #f3f5f7;
  left: 0%;
  /* border: 1px solid #848484; */
  flex-direction: row;
  z-index: 1000;
}
.add_on7 {
  position: absolute;
  top: 32px;
  /* border: 1px solid #848484; */
  background-color: #f3f5f7;
  left: 0%;
  flex-direction: row;
  z-index: 1000;
}
.add_on8 {
  position: absolute;
  top: 32px;
  /* border: 1px solid #848484; */
  background-color: #f3f5f7;
  left: 0%;
  z-index: 1000;
  flex-direction: row;
}
.add_on9 {
  position: absolute;
  /* border: 1px solid #848484; */
  top: 32px;
  background-color: #f3f5f7;
  z-index: 1000;
  left: 0%;
  flex-direction: row;
}
.add_on10 {
  /* border: 1px solid #848484; */
  position: absolute;
  z-index: 1000;
  background-color: #f3f5f7;
  top: 32px;
  left: 0%;
  flex-direction: row;
}
.brand-col{
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  padding-top: 6px;
  margin-right: 50px;
}
.brand-col a{
  line-height: 30px;
}
.brand-col a:hover{
  color: #ff7035;
}
.inside-menu-brand-col{
  display: flex;
  /* margin-left: 20px; */
}
.inside-menu-brands{
  margin-left: 60px;
  background-color: #f4f4f4;
  
}
.inside-menu-brands p{
  font-weight: 600;
  margin-left: 30px;
}

.inside-menu-img img{
  display: block;
  width: 100%;
  background-size: cover;
}
/* ----------Footer---------- */

.footer_container {
  background-color: #f3f5f7;
  padding: 55px 0 0;
  /* margin: 0 80px; */
}
.container1 {
  margin:0 80px;
  /* padding: 0 70px; */
}
.footer-row1 {
  margin-bottom: 40px;
  margin-left: 120px;
}
.footer_col {
  /* display: flex; */
  padding-right: 15px;
  margin-bottom: 20px;
}
.footer_col_title {
  font-size: 1rem;
}
.footer_col_list_item {
  margin-bottom: 5px;
}
.footer_col_list_item a {
  font-size: 14px;
  color: #848484;
}
.col_title_download {
  font-size: 1.25rem !important;
  font-family: "Playfair Display", serif;
  font-weight: 600;
}

.footer_appstore_link {
  width: 180px;
  height: 60px;
  background: url("https://ii1.pepperfry.com/images/web21-footer-apple-appstore-logo.png") no-repeat
    center;
  display: inherit;
  background-size: contain;
}
.footer_playstore_link {
  width: 180px;
  height: 60px;
  background: url("https://ii1.pepperfry.com/images/web21-footer-google-playstore-logo.png")
    no-repeat center;
  display: inherit;
  background-size: contain;
}

.footer_row2 {
  margin-top: 50px;
}

.footer_row3 {
  /* margin-top: 50px; */
  padding: 43px 0;
  border-top: 1px solid #dadada;
  border-bottom: 1px solid #dadada;
}

/* ---------------Footer Payment Method Links----------------- */

.footer_pay_link {
  width: 76px;
  height: 48px;
  margin-right: 12px;
}
.footer_pay_list {
  display: flex;
}
.footer_pay_title {
  font-size: 1rem;
  margin: 0 0 8px;
  font-weight: 600;
}
.visa_pay {
  background: url("https://ii1.pepperfry.com/images/web21-footer-visacard-logo.png") no-repeat;
  display: inherit;
  background-size: contain;
}
.master_pay {
  background: url("	https://ii1.pepperfry.com/images/web21-footer-mastercard-logo.png") no-repeat;
  background-size: contain;
  display: inherit;
}
.mestro_pay {
  background: url("	https://ii1.pepperfry.com/images/web21-footer-maestrocard-logo.png") no-repeat;
  background-size: contain;
  display: inherit;
}
.amex_pay {
  background: url("https://ii1.pepperfry.com/images/web21-footer-amexcard-logo.png") no-repeat;
  background-size: contain;
  display: inherit;
}
.rupay_pay {
  background: url("https://ii1.pepperfry.com/images/web21-footer-rupaycard-logo.png") no-repeat;
  background-size: contain;
  display: inherit;
}
.dinner_pay {
  background: url("	https://ii1.pepperfry.com/images/web21-footer-dinnerscard-logo.png") no-repeat;
  background-size: contain;
  display: inherit;
}
.wallet_pay {
  background: url("	https://ii1.pepperfry.com/images/web21-footer-wallet-logo.png") no-repeat;
  background-size: contain;
  display: inherit;
}
.internet_bank_pay {
  background: url("https://ii1.pepperfry.com/images/web21-footer-internet-banking-logo.png")
    no-repeat;
  background-size: contain;
  display: inherit;
}

/* -----------Footer Social Links------------- */
.footer_social_list {
  display: flex;
}
.footer_social_link {
  width: 46px;
  height: 46px;
  margin-right: 14px;
}
.footer_social_title {
  font-size: 1rem;
  margin: 0 0 8px;
  font-weight: 600;
}
.facebook_link {
  background: url("	https://ii1.pepperfry.com/images/web21-footer-facebook-logo.png") no-repeat;
  background-size: contain;
  display: inherit;
}
.twitter_link {
  background: url("	https://ii1.pepperfry.com/images/web21-footer-twitter-logo.png") no-repeat;
  background-size: contain;
  display: inherit;
}
.youtube_link {
  background: url("https://ii1.pepperfry.com/images/web21-footer-youtube-logo.png") no-repeat;
  background-size: contain;
  display: inherit;
}
.instagram_link {
  background: url("https://ii1.pepperfry.com/images/web21-footer-instagram-logo.png") no-repeat;
  background-size: contain;
  display: inherit;
}
.linkedin_link {
  background: url("	https://ii1.pepperfry.com/images/web21-footer-linkedin-logo.png") no-repeat;
  background-size: contain;
  display: inherit;
}
.pinterest_link {
  background: url("	https://ii1.pepperfry.com/images/web21-footer-pinterest-logo.png") no-repeat;
  background-size: contain;
  display: inherit;
}

/* -------------Footer Bottom Part--------------- */

.footer_col_link {
  /* display: inline-block; */
  margin-right: 18px;
  font-size: 0.875rem;
  color: #848484;
}
.footer_row4 {
  /* margin-top: 50px; */
  padding: 40px 0;
  display: flex;
  /* display:inline-block; */
}
.pf-col-col-8-xs-8{
  margin-left: 30rem;
  width: 60%;
}
.nh{
  margin-top: 8px;
}