#maincontainer{
    width: 100%;
}
#maincontainer>h2{
    margin-top: 5%;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}
#CatSofa{
    width: 70%;
    display: grid;
    grid-template-columns: repeat(9,1fr);
    grid-gap: 10px;
    margin: auto;
}
#CatSofa img{
    width: 100%;
}
#container{
    width: 100%;
    display: flex;
    border-top: 1px solid rgb(189, 185, 185);
    border-bottom: 1px solid rgb(189, 185, 185);
}
#A{
    width: 30%;
    padding-left: 5%;
}
#Product{
    width: 68%;
    padding: 1%;
    border-left: 1px solid rgb(189, 185, 185);
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
}

#IM{
    height: 70%;
    /* border: 1px solid red; */
}
#DT{
    height: 30%;
    /* border: 1px solid red; */
}

/* ****************** "A" section for sorting and product ************* */

#S{
    border-bottom: 1px solid rgb(189, 185, 185);
}
#B{
    border-bottom: 1px solid rgb(189, 185, 185);
    height: 400px;
}
#Brands{
    height: 90%;
    overflow-y: scroll;
}
#price{
    border-bottom: 1px solid rgb(189, 185, 185);
}
#A h4{
    margin-bottom: 0%;
    margin-top: 5%;
    font-family: sans-serif;
}
#A span{
    margin-top: 0%;
    margin-bottom: 0%;
}
#A p{
    margin-top: 6%;
    font-size: medium;
}
.items{
    width: 200px;
    display: flex;
    margin-bottom: 0%;
    margin-top: 0%;
}
#S button{
    width: 20px;
    height: 20px;
    border-radius: 10px;
    margin: 8% 3% 0% 2%;
    background-color: white;
}

#B button{
    width: 20px;
    height: 20px;
    border-radius: 6px;
    margin: 8% 3% 0% 2%;
    background-color: white;
}

#price button{
    width: 20px;
    height: 20px;
    border-radius: 6px;
    margin: 8% 3% 0% 2%;
    background-color: white;
}
#PM{
    height: 400px;
    border-bottom: 1px solid rgb(189, 185, 185);
}
#Pmaterial{
    height: 90%;
    overflow-y: scroll;
}
#PM button{
    width: 20px;
    height: 20px;
    border-radius: 6px;
    margin: 8% 3% 0% 2%;
    background-color: white;
}
#CS{
    border-bottom: 1px solid rgb(189, 185, 185);
}
#CS button{
    width: 20px;
    height: 20px;
    border-radius: 6px;
    margin: 8% 3% 0% 2%;
    background-color: white;
}
#Style{
    height: 400px;
    border-bottom: 1px solid rgb(189, 185, 185);
}
#style{
    height: 90%;
    overflow-y: scroll;
}
#Style button{
    width: 20px;
    height: 20px;
    border-radius: 6px;
    margin: 8% 3% 0% 2%;
    background-color: white;
}
#Colour{
    height: 400px;
    border-bottom: 1px solid rgb(189, 185, 185);
}
#color{
    height: 90%;
    overflow-y: scroll;
}
#Colour button{
    width: 20px;
    height: 20px;
    border-radius: 6px;
    margin: 8% 3% 0% 2%;
    background-color: white;
}
#CSwatch{
    height: 400px;
    border-bottom: 1px solid rgb(189, 185, 185);
}
#CSW{
    height: 90%;
    overflow-y: scroll;
}
#CSwatch .items{
    width: 99%;
}
.CSwatchbullet{
    width: 20px;
    height: 20px;
    border-radius: 6px;
    margin: 8% 3% 0% 2%;
    background-color: white;
}
.CSWatchbullet{
    width: 23px;
    height: 23px;
    border-radius: 6px;
    margin: 7% 3% 0% 70%;
    border: none;
}
.CSwatch1div{
    /* border: 1px solid red; */
    width: 50%;
    display: flex;
}
.CSwatch2div{
    /* border: 1px solid red; */
    width: 50%;
}
#Discount{
    border-bottom: 1px solid rgb(189, 185, 185);
}
#Discount button{
    width: 20px;
    height: 20px;
    border-radius: 10px;
    margin: 8% 3% 0% 2%;
    background-color: white;
}

/* ************************************************************************* */

/* ************** Product section *************************************** */
.IM{
    position: relative;
    /* border: 1px solid red; */
}
.IM img{
    width: 100%;
    height: 100%;
    display: block;
}
.BTN{
    border: 0;
    border-radius: 5px;
    /* padding: 5% 0 5% 25%; */
    background-color: rgba(255, 102, 0, 0.945);
    color: white;
    width: 120px;
    height: 40px;
    font-size: medium;
    font-weight: bold;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.2s;
}
.PRdiv:hover .BTN{
    opacity: 1;
}
.rating{
    background-color: rgb(249,246,241);
    padding: 1% 3.3%;
    border-radius: 15px;
    font-size: large;
    font-weight: bold;
    position: absolute;
    top: 82%;
    left: 75%;
}
.wishlist{
    position: absolute;
    top: 3%;
    left: 90%;
    border-radius: 50px;
}
#Title{
    margin-bottom: 2%;
    font-size: large;
    font-family: sans-serif;
    color: rgb(32, 30, 30);
}
#Brand{
    margin-top: 0%;
    margin-bottom: 0%;
    font-family: sans-serif;
    color: grey;
}
#Price{
    margin: 3% 0 3% 0;
    display:flex;
}
#Price p:nth-child(1){
    margin: 0 15px 0 0;
    font-size: large;
    font-family: sans-serif;
    color: rgba(255, 68, 0, 0.712);
    font-weight: bold;
}
#Price p:nth-child(2){
    text-decoration: line-through;
    margin: 1% 0 0 0;
    font-family: sans-serif;
    color: grey;
}
#discount{
    margin: 0 0 0 0;
    color: rgba(0, 128, 0, 0.788);
    font-size: large;
    font-weight: 600;
    font-family: sans-serif;
}

/* 
@media only screen and (min-width:0px) and (max-width:1026px){

    #Product{
        width: 68%;
        padding: 1%;
        border-left: 1px solid rgb(189, 185, 185);
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 15px;
    }
} */